.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.validation-success {
  background-color: #d6f5d6; /* Light green background for success */
  border: 1px solid #5cb85c; /* Green border */
}

.validation-failed {
  background-color: #f8d7da; /* Light red background for failure */
  border: 1px solid #d9534f; /* Red border */
}
